/* @import "tailwindcss";

@theme {
  --color-primary: #0A174E;
  --color-secondary: #fb2e86;
  --color-tertiary: #08d15f;
  --color-background: #0A174E;
  --color-background-secondary: #f1f0ff;
  --color-text: #F5D042;
  --color-backgroundlite: #E6DFEE;
  --color-mainbackground: #0A174E;
} */